textarea {
  resize: none;
  padding: 0.75rem;
  border: 1px solid #ffffff0d;
  border-radius: 2rem;
  font-family: inherit;
  font-size: 0.875rem;
  line-height: 1.5;
  min-height: 44px;
  max-height: 200px;
  background-color: #303030;
  color: white;
  outline: none;

  &:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(79, 70, 229, 0.1);
  }

  &::placeholder {
    color: #94a3b8;
  }
}
